* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(/image/japon-art-numerique-fond_23-2151546140.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
}

.image {
    width: 300px;
    height: 200px;
    border-radius: 50%
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;

}
ul {
    list-style: none;
    display: flex;
}
ul li {
    margin: 0 10px;
}
a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.5s;
    border-radius: 6px;
}
a:hover {
    background-color: #fff;
    color: #000000;
}

h1 {
    font-size: 50px;
    color: #000000;
    -webkit-text-stroke:0.5px white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    color: #000000;
    -webkit-text-stroke:0.5px white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.carousel {
    position: relative;
    width: 60%; /* Largeur du carousel */
    height: 800px; /* Hauteur du carousel */
    overflow: hidden;
    margin: 0 auto; /* Centrer le carousel */
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: 100%; /* Images prennent toute la largeur du carousel */
    flex-shrink: 0; /* Empêche les images de se réduire */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100; /* Pour s'assurer que les boutons sont au-dessus des images */
}

.prev {
    left: 10px; /* Position du bouton précédent */
}

.next {
    right: 10px; /* Position du bouton suivant */
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: #000000; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font: bold;
    cursor: pointer;
    display: none;
    z-index: 1000; 
}

.scroll-to-top:hover {
    background-color: #fff; 
}

#videos {
    display: flex;
    justify-content: center; /* Centre les vidéos horizontalement */
    flex-wrap: wrap; /* Permet aux vidéos de s'adapter à la largeur de l'écran */
    gap: 20px; /* Ajoute de l'espace entre les vidéos */
    margin: 20px 0; /* Ajoute de l'espace au-dessus et en dessous */
}

#videos iframe {
    max-width: 100%; /* Assure que les vidéos ne débordent pas */
    height: 450px; /* Ajuste la hauteur automatiquement */
}

footer {
    clear: both; 
    position: relative; 
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}

@media screen and (max-width: 1037px) {
    body {
        position: relative;
    }

    ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -1500px;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        transition: 0.5s;
        -webkit-backdrop-filter: blur(10px); 
        backdrop-filter: blur(10px);
    }
    ul li {
        margin: 20px 0;
    }
    ul li a{

        text-transform: uppercase;

    }
    ul li a:hover{
        color: #000000;
    }
    
    .button{
        z-index: 100;
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .button::after{
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #000000;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #000000 ;
        transition: 0.5s;
    }
    .button.active::after{
        transform: rotate(45deg);
        box-shadow: 0 0 0 #000000 ;
    }
    .button::before{
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #000000;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .button.active::before{
        transform: rotate(-45deg);
    }
    ul.active {
        left :0 ;
    }
    
}